@using Vidly.Models
@model System.Collections.Generic.List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "../Shared/_Layout.cshtml";
}

<br />
@Html.ActionLink("Create Movie", "Create", "Movie", null, new { @class = "btn btn-primary" })
    <table class="table table-stipped">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@movie.Name, "Edit", "Movie", new { id = @movie.Id }, null) </td>

                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
